@media (prefers-color-scheme: dark) {
  .panel-root,
  * {
    border-color: #5e5e62 !important;
    color: #ffffff;
  }

  body {
    background-color: #252529;
  }

  .table-active {
    background-color: #3c3c41 !important;
  }
}

@media (prefers-color-scheme: light) {
  * {
    border-color: #e0e0e0 !important;
    color: #000000;
  }

  body {
    background-color: #ffffff;
  }

  .table-active {
    background-color: #f0f0f0 !important;
  }
}

/* Network HTTP code color */
.network-code-200,
.network-code-201,
.network-code-202,
.network-code-204 {
  color: #6b6b6b;
}

.network-code-301,
.network-code-302,
.network-code-304,
.network-code-303,
.network-code-307,
.network-code-308 {
  color: #ffa564;
}

.network-code-0,
.network-code-400,
.network-code-401,
.network-code-403,
.network-code-404,
.network-code-410,
.network-code-411,
.network-code-429,
.network-code-500,
.network-code-502,
.network-code-503 {
  color: #ff4d4d;
}
