@media (prefers-color-scheme: dark) {
  .panel-root,
  * {
    border-color: #5e5e62 !important;
    color: #ffffff;
  }

  body {
    background-color: #252529;
  }

  .table-active {
    background-color: #3c3c41 !important;
  }
}

@media (prefers-color-scheme: light) {
  * {
    border-color: #e0e0e0 !important;
    color: #000000;
  }

  body {
    background-color: #ffffff;
  }

  .table-active {
    background-color: #f0f0f0 !important;
  }
}

.hljs {
  background-color: #252529 !important;
}

body {
  height: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}

table {
  table-layout: fixed;
}

.resize > tr th {
  resize: horizontal;
  overflow: auto;
}

th,
td {
  border: 1px solid;
  padding: 3px 5px !important;
  text-align: left;
  font-weight: 400;
  font-size: 0.8em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td {
  border-top: none;
  border-bottom: none;
}

td.empty {
  border-left: 1px solid;
  border-right: 1px solid;
}

th:nth-child(1),
th:nth-child(3),
th:nth-child(4),
th:nth-child(5) {
  width: 10%;
  min-width: 50px;
}

tr td:hover {
  cursor: pointer;
}

.button {
  border-bottom: 2px solid transparent !important;
}

.button.active {
  border-bottom: 2px solid #a1a2fe !important;
}

/* Network HTTP code color */
.network-code-200,
.network-code-201,
.network-code-202,
.network-code-204 {
  color: #6b6b6b;
}

.network-code-301,
.network-code-302,
.network-code-304,
.network-code-303,
.network-code-307,
.network-code-308 {
  color: #ffa564;
}

.network-code-0,
.network-code-400,
.network-code-401,
.network-code-403,
.network-code-404,
.network-code-410,
.network-code-411,
.network-code-429,
.network-code-500,
.network-code-502,
.network-code-503 {
  color: #ff4d4d;
}
